@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

html, body
{
    margin: 0;
    padding: 0;
    background: #222;
}

*
{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.main
{
    margin: 32px auto;
    width: 55%;
}

span.header
{
    font-size: 32px;
    font-weight: 900;
    display: block;
    margin-bottom: 32px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

li
{
    position: relative;
    padding: 12px;
    margin: 4px 0;
    background: #333;
    opacity: 0;
    transition: 0.2s;
}

li.first-place
{
    padding: 24px;
    font-size: 24px;
    font-weight: 900;
}

li.big-placement
{
    padding: 16px;
    font-size: 16px;
    font-weight: 900;
}

li.second
{
    background: rgb(41, 41, 41);
}

li:hover
{
    background: #444;
}

span.placing
{
    margin: 0 16px;
    background: var(--background);
    padding: 4px 12px;
    border-radius: 999px;
}

span.points
{
    position: absolute;
    text-align: center;
    float: right;
    right: 32px;
}

li.first-place > span.username
{
    background: linear-gradient(50deg, rgba(255, 244, 9, 1) 0%, rgba(255, 111, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 10s ease-in-out infinite alternate;
}

li.rounded-top
{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

li.rounded-bottom
{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
@media only screen and (max-width: 700px) {
    .main
    {
        margin: 32px auto;
        width: 98%;
    }
    li.rounded-top
    {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    li.rounded-bottom
    {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@keyframes glow {
    from {
        text-shadow: 0px 2px 9px rgba(255,
                215,
                0.6),2px 0px 9px rgba(255,
                215,
                0.5),0px 2px 9px rgba(255,
            215,
            0.7);
    }

    to {
        text-shadow: 2px 2px 16px rgba(255,
                215,
                0.8);
    }
}
