<head>
    <title>boobs image server - chatterino setup</title> 
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');
    /* god forgive me */
html, body
{
    padding: 0;
    margin: 0;
    background: #222;
    color: white;
}
*
{
    font-family: 'Roboto', sans-serif;
}
.info-block
{
    margin: 32px auto;
    width: 80%;
}
h1
{
    padding-bottom: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #333;
}
.edata
{
    width: 100%;
    padding: 12px;
    background: #333;
    border: none;
    border-left: 3px solid #111;
    color: rgba(255,255,255,0.7);
    outline: none;
}
p, h1 { vertical-align: middle;}
</style>

<body>
    <div class="info-block">
        <a href="/api/download-sharex?key=<%= it.key %>"><img src="https://cdn.7tv.app/emote/60537cea9d9e96000d244f19/3x"
                style="height: 21px; vertical-align: middle;"> Click here to download ShareX custom uploader <img
                src="https://cdn.7tv.app/emote/60537cea9d9e96000d244f19/3x" style="height: 21px; vertical-align: middle;"></a>
        <p><b>NOTE: </b>It works for file, text & image upload.</p>
        <h1>ShareX Setup Guide <img src="https://cdn.7tv.app/emote/6243a307db3ed5fb67b48274/3x"
                style="height: 39px; vertical-align: middle;"></h1>
        <p>hello, first off download the custom uploader, then open ShareX, go to Destinations &gt; Custom
            uploader settings...</p>
        <p>Now click on Import &gt; From file... and select a file you just downloaded.</p>
        <p>Now close this window and change destinations to the &quot;Custom file uploader&quot;</p>
        <hr>
        <h1>Chatterino Setup Guide (why?) <img src="https://cdn.7tv.app/emote/60ae4a875d3fdae583c64313/3x" style="height: 39px; vertical-align: middle;"></h1>
        <p>hello this is a very professional image upload guide for chatterino written by mishashto aka pancakes okay so first things first you need to have a key given by me if you dont have one FEKK OFF.</p>
        <p>For other fields, fill respectively: </p>
        <p>Request URL</p>
        <input class="edata" readonly value="https://boobs.pics/uploadImage">
        <p>Form field</p>
        <input class="edata" readonly value="image">
        <p>Extra Headers</p>
        <input class="edata" readonly value="Authorization: <%= it.key %>">
        <p>Image link</p>
        <input class="edata" readonly value="{data.link}">
        <p>Deletion link</p>
        <input class="edata" readonly value="">
        <p>thats all for the guide idk why just have it here lule <img src="https://cdn.7tv.app/emote/60ef410f48cde2fcc3eb5caa/3x" style="height: 21px; vertical-align: middle;"></p>
        <p>
        <pre>please respect me and other users though there are limited space you know</pre>
        </p>
    
        <p>
            <div class="edata" style="vertical-align: middle;"><img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x" style="vertical-align: middle; height: 32px;"> <b>Don't abuse it.</b> Space is limited. Please respect everyone else.</div>
        </p>
    </div>
</body>