<head>
    <title>boobs خادم الصور - الإعداد</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

    /* god forgive me */
    html,
    body {
        padding: 0;
        margin: 0;
        background: #222;
        color: white;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }

    .info-block {
        margin: 32px auto;
        width: 80%;
    }

    h1 {
        padding-bottom: 6px;
        margin-bottom: 12px;
        border-bottom: 1px solid #333;
    }

    .edata {
        width: 100%;
        padding: 12px;
        background: #333;
        border: none;
        border-left: 3px solid #111;
        color: rgba(255, 255, 255, 0.7);
        outline: none;
    }

    p,
    h1 {
        vertical-align: middle;
        direction: rtl;
    }

    *
    {
        direction: rtl;
    }
</style>

<body>
    <div class="info-block">
        <a href="/api/download-sharex?key=<%= it.key %>"><img
                src="https://cdn.7tv.app/emote/620fd398c6fcdffbec96d884/4x.webp"
                style="height: 21px; vertical-align: middle;"> انقر هنا لتنزيل برنامج تحميل ShareX المخصص <img
                src="https://cdn.7tv.app/emote/620fd398c6fcdffbec96d884/4x.webp"
                style="height: 21px; vertical-align: middle;"></a>
        <p><b>ملاحظة: </b>يعمل لتحميل الملفات والنصوص والصور.</p>
        <h1>دليل إعداد ShareX <img src="https://cdn.7tv.app/emote/611934f54a20425cff0638d0/3x.webp"
                style="height: 39px; vertical-align: middle;"></h1>
        <p>مرحبًا ، أولاً قم بتنزيل برنامج التحميل المخصص ، ثم افتح ShareX ، وانتقل إلى الوجهات & gt ؛ العادة
        إعدادات القائم بالتحميل ...</p>
        <p>انقر الآن على استيراد ، ثم من ملف ... وحدد الملف الذي قمت بتنزيله للتو.</p>
        <p>أغلق هذه النافذة الآن وغير الوجهات إلى "برنامج تحميل الملفات المخصص"</p>
        <hr>
        <h1>دليل إعداد Chatterino (لماذا؟) <img src="https://cdn.7tv.app/emote/62bccb969882dfa63c815224/4x.webp"
                style="height: 39px; vertical-align: middle;"></h1>
        <p>مرحبًا ، هذا دليل احترافي للغاية لتحميل الصور كتبه mishashto ، والمعروف باسم "pancakes" ، حسنًا
        أول الأشياء تحتاج أولاً إلى الحصول على مفتاح أعطيته لي إذا لم يكن لديك أحد.</p>
        <p>Fللحقول الأخرى ، املأ على التوالي:</p>
        <p>طلب URL</p>
        <input class="edata" readonly value="https://noboobs.pics/uploadImage">
        <p>حقل النموذج</p>
        <input class="edata" readonly value="image">
        <p>رؤوس إضافية</p>
        <input class="edata" readonly value="Authorization: <%= it.key %>">
        <p>رابط الصورة</p>
        <input class="edata" readonly value="{data.link}">
        <p>رابط الصورة</p>
        <input class="edata" readonly value="">
        <p>هذا كل شيء عن الدليل أتساءل لماذا فقط هنا lule <img
                src="https://cdn.7tv.app/emote/632dfe9bb328df44b233db4e/4x.webp"
                style="height: 21px; vertical-align: middle;"></p>
        <p>
        <pre>يرجى احترام لي وللمستخدمين الآخرين على الرغم من أن المساحة المتوفرة لديك محدودة</pre>
        </p>

        <p>
        <div class="edata" style="vertical-align: middle;"><img
                src="https://cdn.7tv.app/emote/618992bc4ea2f24e5009e45d/4x.webp"
                style="vertical-align: middle; height: 32px;"> <b>لا تسيء استخدامه.</b> المساحة محدودة. أرجوا الإحترام
                أي أحد غيره.</div>
        </p>
        <br>
        <hr>
        <center><p>ابقى حلال</p>
        <p><img src="https://cdn.7tv.app/emote/62a614ac90dce250e74f539b/4x.webp" style="width: 64px;"></p></center>

    </div>
</body>