<head>
    <title>mishashto's Image Uploader - Documentation</title>
    <meta name="og:title" content="mishashto's Image Uploader - Documentation">
    <meta name="og:description" content="The only way I know how to upload files now">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mishashto">
    <meta name="twitter:title" content="mishashto's Image Uploader - Documentation">
    <meta name="twitter:description" content="The only way I know how to upload files now">
    <link rel="icon" type="image/webp" href="/public/img/favicon.webp">
    <link rel="stylesheet" href="/public/css/new.css">
    <script src="/public/js/anime.min.js"></script>
</head>
<body style="opacity: 1 !important;">
    <div class="navbar">
        <div class="content">
            <a class="nav-el" href="#docs" data-content="404" onclick="return false;" style="opacity: 1 !important;"><span>API Documentation</span></a>
        </div>
    </div>
    <div class="content">
        <h1>API Documentation</h1>
        <p>Use this page as a reference for API usage, please refrain from abusing the system and limit you requests to <b>60</b> per minute.</p>
    </div>
    <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
    <noscript>
        <noscript>
            <meta http-equiv="refresh" content="0;url=/please/enable.js">
          </noscript>
    </noscript>
</body>