<head>
    <title>mishashto's Image Uploader - Uh-oh...</title>
    <meta name="og:title" content="mishashto's Image Uploader - Uh-oh...">
    <meta name="og:description" content="The only way I know how to upload files now">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@mishashto">
    <meta name="twitter:title" content="mishashto's Image Uploader - Uh-oh...">
    <meta name="twitter:description" content="The only way I know how to upload files now">
    <link rel="icon" type="image/webp" href="/public/img/favicon.webp">
    <link rel="stylesheet" href="/public/css/new.css">
    <script src="/public/js/anime.min.js"></script>
</head>
<body style="opacity: 1 !important;">
    <div class="navbar">
        <div class="content">
            <a class="nav-el" href="#404" data-content="404" onclick="return false;" style="opacity: 1 !important;"><span>Uh-oh!</span></a>
        </div>
    </div>
    <div class="content">
        <h1>JavaScript Required</h1>
        <p>This service requires JavaScript to function properly. Please enable JavaScript in your browser settings to access the web version.</p>
        <p>If you are blocking JavaScript for ad or tracker prevention, consider blocking <span class="code tag">a.uwu.so</span> in your AdBlocker settings while allowing <span class="code tag">uwu.so</span> in NoScript.</p>
        <p>Details on the data we collect can be found in our <a href="https://mishashto.com/tos">Terms of Service</a>. In general, we collect HTTP logs (via nginx) for analytical and security purposes, as well as anonymized web analytics for research and debugging. Please note that while HTTP logs cannot be anonymized due to their intended use, web analytics do not contain personally identifiable information aside from your IP address and user-agent.</p>
    </div>    
    <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
</body>

<script>
window.history.replaceState({}, document.title, "/");
window.location.href = "/";
</script>