<head>
    <title>mishashto's Image Uploader - Uh-oh...</title>
    <link rel="stylesheet" href="/public/css/new.css">
    <script src="/public/js/anime.min.js"></script>
</head>
<body style="opacity: 1 !important;">
    <div class="navbar">
        <div class="content">
            <a class="nav-el" href="#404" data-content="404" onclick="return false;" style="opacity: 1 !important;"><span>Uh-oh!</span></a>
        </div>
    </div>
    <div class="content">
        <h1>Please enable JavaScript</h1>
        <p>This service relies on JavaScript to serve good experience to it's users, we have zero trackers installed (not Google, not even our own) and logs are disabled for the http server.</p>
    </div>
    <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
</body>

<script>
window.history.replaceState({}, document.title, "/");
window.location.href = "/";
window.history.pushState({}, document.title, "/");
</script>