<head>
    <title>boobs image server - FAQ</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

    /* god forgive me */
    html,
    body {
        padding: 0;
        margin: 0;
        background: #222;
        color: white;
    }

    * {
        font-family: 'Roboto', sans-serif;
    }

    .info-block {
        margin: 32px auto;
        width: 80%;
    }

    h1 {
        padding-bottom: 6px;
        margin-bottom: 12px;
        border-bottom: 1px solid #333;
    }

    .edata {
        width: 100%;
        padding: 12px;
        background: #333;
        border: none;
        border-left: 3px solid #111;
        color: rgba(255, 255, 255, 0.7);
        outline: none;
    }

    p,
    h1 {
        vertical-align: middle;
    }
</style>

<body>
    <div class="info-block">
        <h1>FAQ <img src="https://cdn.7tv.app/emote/60b9e23a0f97c0dfb79c1558/4x.webp"
                style="height: 39px; vertical-align: middle;"></h1>
        This is a FAQ for all randoms that come here and want to know wtf is this.

        <h2>What is this?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->This is an media server for my <b>friends</b> to use.
        </div>
        <h2>Can I get access?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->Are you my friend? If yes, then yes. If no, then no. Generally speaking if I don't show hatred towards you, ping you sometimes and we know each other a bit, yes, you probably can.
        </div>
        <h2>Any other way to get access?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->If you want it so bad, paypal me 1000$ and I'll give you access. Otherwise you have to be my friend, or friend of my friends that I entrusted with giving out keys.
        </div>
        <h2>Why?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->It's funny.
        </div>
        <h2>Is there a gallery?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->No, all uploads are private. You can access content only through direct links.
        </div>
        <h2>Why is there noboobs.pics?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                        style="vertical-align: middle; height: 32px;">-->Saudi Arabia banned main domain, so I made a mirror. <a href="https://i.imgur.com/2H2TgjQ.png">(source)</a>
        </div>
        <h2>I joined your server and got bullied</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                                style="vertical-align: middle; height: 32px;">-->You agreed to the rules when you joined. The server is for my homies to hang out sometimes, randoms can join, but friends are monarchs of the server. They're superior.
        </div>
        <h2>Are there actual boobs?</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                                                style="vertical-align: middle; height: 32px;">-->Probably.
        </div>
        <h2>ShareX doesn't work with uploader</h2>
        <div class="edata" style="vertical-align: middle;"><!--<img src="https://cdn.7tv.app/emote/60ae387cb2ecb0150505e235/4x"
                                                style="vertical-align: middle; height: 32px;">-->Check the key you put in, or try to use a mirror, by replacing a link in custom uploader to <pre style="display: inline-block; font-family: 'Courier New', Courier, monospace;">noboobs.pics</pre> or <pre style="display: inline-block; font-family: 'Courier New', Courier, monospace;">uwu.so</pre>. If this doesn't help contact me.
        </div>
    </div>
</body>