<head>
    <title>boobs image server</title>
</head>

<body>
    <div style="
    /* forgive me for doing it like that i am just lazy to add another public folder :Chatting: */
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; background: white;
    ">
        <center>
<img src="https://cdn.7tv.app/emote/60afbe0599923bbe7fe9bae1/4x.webp" style="display: block;">
            <h1><span title="TIHS IS A NAME OF THE WEBSITE NOT ACTUAL BOOBS">boobs.pics</span> image server</h1>
            <!--<pre>you can request access through discord</pre>-->
            <p><a href="https://reze.moe">reze.moe</a> / <a href="/setup">how to install</a></p>
            <p><a href="https://boobs.pics/">main</a> / <a href="https://noboobs.pics">halal mirror</a> / <a href="https://uwu.so/">anime mirror</a></p>
            <p><a href="/faq">FAQ</a> or <a href="/me">log in</a></p>
            <br>
            <p>Total <b>
                    <%= it.uploadsCount %>
                </b> uploads across <b>
                    <%= it.uploadersCount %>
                </b> users. <a href="/stats">(stats)</a></p>
        </center>
    </div>

</body>