<head>
    <title>boobs image server</title>
</head>
<body>
    <div style="
    /* forgive me for doing it like that i am just lazy to add another public folder :Chatting: */
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    ">
        <center><img src="https://cdn.7tv.app/emote/60afbe0599923bbe7fe9bae1/4x" style="display: block;">
        <h1>boobs image server</h1>
        <pre>you can request access through discord</pre>
        <p><a href="https://reze.moe">reze.moe</a> / <a href="/setup">setup</a></p></center>
    </div>
</body>