<head>
  <title>mishashto's Image Uploader - Initial Setup</title>
  <meta name="og:title" content="mishashto's Image Uploader - Initial Setup" />
  <meta
    name="og:description"
    content="The only way I know how to upload files now"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mishashto" />
  <meta
    name="twitter:title"
    content="mishashto's Image Uploader - Initial Setup"
  />
  <meta
    name="twitter:description"
    content="The only way I know how to upload files now"
  />
  <link rel="icon" type="image/webp" href="/public/img/favicon.webp" />
  <link rel="stylesheet" href="/public/css/new.css" />
  <script src="/public/js/initialsetup.js"></script>
</head>
<body style="opacity: 1 !important">
  <div class="navbar">
    <div class="content">
      <a
        class="nav-el"
        href="#uhoh"
        data-content="uhoh"
        onclick="return false;"
        style="opacity: 1 !important"
        ><span>Uh-oh!</span></a
      >
    </div>
  </div>
  <div class="content">
    <h1>Server Set-up</h1>
    <p>Initial setup is required before using the Imagination Server.</p>
    <br />
    <h2>Root user</h2>
    <p>
      <span>Username</span>&nbsp;&nbsp;&nbsp;<input
        placeholder="uwu"
        required
        id="initialsetup-username"
      />&nbsp;&nbsp;&nbsp;<span class="tag tag-blue">Required</span>
    </p>
    <h2>More important settings</h2>
    <p>
      <span>Title</span>&nbsp;&nbsp;&nbsp;<input
        placeholder="mishashto's Image Uploader"
        required
        id="initialsetup-title"
      />&nbsp;&nbsp;&nbsp;<span class="tag tag-blue">Required</span>
    </p>
    <p class="small-text">This thing doesnt work yet.</p>
    <br />
    <button class="input-button">I am done</button>
    <p class="small-text error-text" id="initialsetup-error-text"></p>
    <p class="small-text">
      Your key for accessing root user will be displayed after pressing this
      button. You will not see it ever again, unless you access your database.
      Be sure to keep your database safe, as all the keys are saved in raw text
      form in order for admins to be able to access and copy the keys.
    </p>
  </div>
  <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
  <div class="centerized">
    <div
      class="dashboard-block solid-background"
      id="initialsetup-rootblock"
      style="display: none"
    >
      <center>
        <p>
          Your <span id="initialsetup-rootusername">___</span>'s access key:
        </p>
      </center>
      <input
        style="width: 100%"
        readonly
        onclick="this.select()"
        id="initialsetup-rootuserkey"
      />
      <br />
      <center>
        <p class="small-text">
          You are free to leave this page or refresh when you're ready.
        </p>
      </center>
    </div>
  </div>
</body>
