<head>
    <title>boobs image server</title>
</head>

<body style="">
    <div style="
    /* forgive me for doing it like that i am just lazy to add another public folder :Chatting: */
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    ">
        <div>
            <p>You're inviting a new person! Wowzers!</p>
            <input value="<%= it.key %>">
            <br><br>
            <fieldset style="float: left; text-align: left;">
                <legend><b>Information</b></legend>
                <p style="line-height: 0;">Be careful and don't share the link above, your key or how it works.</p>
                <p style="line-height: 0;">This is a private invitational friends & trusted people only image hosting
                    server.</p>
            </fieldset>
        </div>
    </div>
</body>