<head>
    <title>mishashto's Image Uploader - Invite</title>
    <link rel="stylesheet" href="/public/css/new.css">
    <script src="/public/js/anime.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="content">
            <a class="nav-el" href="#invite" style="opacity: 0;" data-content="invite" onclick="return false;"><span>Invite</span></a>
        </div>
    </div>
    <div class="content">
        <p>Temporary invite content</p>
    </div>
    <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
</body>