<head>
  <title>mishashto's Image Uploader - Maintenance</title>
  <meta name="og:title" content="mishashto's Image Uploader - Uh-oh..." />
  <meta
    name="og:description"
    content="The only way I know how to upload files now"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mishashto" />
  <meta name="twitter:title" content="mishashto's Image Uploader - Uh-oh..." />
  <meta
    name="twitter:description"
    content="The only way I know how to upload files now"
  />
  <link rel="icon" type="image/webp" href="/public/img/favicon.webp" />
  <link rel="stylesheet" href="/public/css/new.css" />
  <!-- Matomo -->
  <script>
    var _paq = (window._paq = window._paq || []);
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setCookieDomain", "*.uwu.so"]);
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);
    (function () {
      var u = "//analytics.uwu.so/";
      _paq.push(["setTrackerUrl", u + "matomo.php"]);
      _paq.push(["setSiteId", "1"]);
      var d = document,
        g = d.createElement("script"),
        s = d.getElementsByTagName("script")[0];
      g.async = true;
      g.src = u + "matomo.js";
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body style="opacity: 1 !important">
  <div class="navbar">
    <div class="content">
      <a
        class="nav-el"
        href="#M"
        data-content="Maintenance"
        onclick="return false;"
        style="opacity: 1 !important"
        ><span>Maintenance</span></a
      >
    </div>
  </div>
  <div class="content">
    <img
      src="/public/img/yuuka_angry.png"
      style="width: 128px; vertical-align: middle; float: left"
    />
    <h1 style="vertical-align: middle">Oops!</h1>
    <p style="vertical-align: middle">
      It seems someone tripped on the wires and something went wrong, so we
      placed the website on maintenance.
    </p>
    <p style="vertical-align: middle">
      Current reason given for the maintenance is:
      <span class="tag" id="maintenance-tag"><%= it.reason %></span>.
    </p>
    <br />
    <br />
    <div class="legal" style="color: lightgray">
      Artwork by
      <a href="https://www.pixiv.net/en/artworks/109349581">@nikooo2016</a>,
      character is under the trade mark of Blue Archive, belonging to NEXON.
    </div>
  </div>
  <div class="legal"><a href="https://reze.moe/" class="me">reze.moe</a> ♥</div>
</body>
<noscript>
  <meta http-equiv="refresh" content="0;url=/please/enable.js" />
</noscript>
