<head>
    <title>NOboobs image server</title>
</head>

<body style="background: url(https://media.tenor.com/usOrpkZk9QIAAAAM/haram-heisenberg.gif);">
    <div style="
    /* forgive me for doing it like that i am just lazy to add another public folder :Chatting: */
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; background: white;
    ">
        <center style="padding: 12px 24px;">
            <p>
                <marquee><img src="https://media.tenor.com/e-6xIlNGFGAAAAAC/saudia-arabia-flag.gif" style="width: 24px;"> WE LOVE
                    SAUDI ARABIA!!! <img src="https://media.tenor.com/e-6xIlNGFGAAAAAC/saudia-arabia-flag.gif" style="width: 24px;">
                </marquee>
            </p>
            <img src="https://cdn.7tv.app/emote/603cc0e173d7a5001441f9ef/3x.webp"> <img
                src="https://cdn.7tv.app/emote/637d19002bcb00e1df071c4f/3x.webp">
            <h1><span title="TIHS IS A NAME OF THE WEBSITE NOT ACTUAL BOOBS"><span style="color: red;">no</span>boobs.pics</span>
                خادم صور</h1>
            <h2>HALAL VERSION</h2>
            <!--<pre>you can request access through discord</pre>-->
            <p><a href="https://reze.moe">reze.moe</a> / <a href="/setup">كيفيه التنصيب</a></p>
            <p><a href="https://boobs.pics/">main</a> / <a href="https://noboobs.pics">halal mirror</a> / <a
                    href="https://uwu.so/">anime mirror</a></p>
            <p><a href="/faq">FAQ</a> or <a href="/me">log in</a></p>
            <br>
            <p>Total <b>
                    <%= it.uploadsCount %>
                </b> uploads across <b>
                    <%= it.uploadersCount %>
                </b> users. <a href="/stats">(stats)</a></p>
            <p>
                <marquee><img src="https://media.tenor.com/e-6xIlNGFGAAAAAC/saudia-arabia-flag.gif" style="width: 24px;"> WE LOVE
                    SAUDI ARABIA!!! <img src="https://media.tenor.com/e-6xIlNGFGAAAAAC/saudia-arabia-flag.gif" style="width: 24px;">
                </marquee>
            </p>
        </center>
    </div>

</body>